.item-categories {
  text-align: center;
  display: inline-block;
  margin: auto;
  width: 100%;
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 3px #ddd;
  padding: 10px;
}

.checkboxFive {
  margin: 10px 0 0 0;
  width: 300px;
  display: inline-block;
  text-align: left;
}

.item-heading {
  font-size: 14px;
  border-bottom: 1px solid #eee;
  padding: 0 5px 5px 0;
  margin-bottom: 15px;
  font-weight: 800;
  color: #2098ce;
}

.item-categories .checkboxFive {
  display: block;
  width: auto;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

button,
input {
  overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
  margin-right: 2rem;
  padding-left: 0.5 rem;
}
